<div class="flex two center" id="bibliography">
  <article class="card noborder">
    <header>
      <h3>Bibliography</h3>
    </header>
    <footer>
    <p>Cohen, J. (2011, October 18). Did Jamestown&#39;s Settlers Drink Themselves to Death? Retrieved October 30, 2020,
      from <a
        href="https://www.history.com/news/did-jamestowns-settlers-drink-themselves-to-death">https://www.history.com/news/did-jamestowns-settlers-drink-themselves-to-death</a>
    </p>
    <p>Davis, A. (2011, October 14). Did bad water contribute to the Starving Time? Retrieved October 30, 2020, from <a
        href="https://www.wm.edu/news/stories/2011/did-bad-water-contribute-to-the-starving-time123.php">https://www.wm.edu/news/stories/2011/did-bad-water-contribute-to-the-starving-time123.php</a>
    </p>
    <p>Ritchie, H., &amp; Roser, M. (2019, September 25). Sanitation. Retrieved October 30, 2020, from <a
        href="https://ourworldindata.org/sanitation">https://ourworldindata.org/sanitation</a></p>
    <p>oliform bacteria. (2011). In D. S. Blanchfield (Ed.), Environmental Encyclopedia. Gale. <a
        href="https://link.gale.com/apps/doc/CV2644150293/GRNR?u=j101912&amp;sid=GRNR&amp;xid=75ad38e3">https://link.gale.com/apps/doc/CV2644150293/GRNR?u=j101912&amp;sid=GRNR&amp;xid=75ad38e3</a>
    </p>
    <p>KCRG News Staff. (2019, 7 10). Iowa leads the nation in poop produced per square mile. KCRG. <a
        href="https://gray-kcrg-prod.cdn.arcpublishing.com/resizer/v3HB1MbRvyVKxWl8gZ4uhEd9aUk=/1200x800/smart/cloudfront-us-east-1.images.arcpublishing.com/gray/B2K3XRLGM5M5XKIZPZ3WBFRTRI.jpg">https://gray-kcrg-prod.cdn.arcpublishing.com/resizer/v3HB1MbRvyVKxWl8gZ4uhEd9aUk=/1200x800/smart/cloudfront-us-east-1.images.arcpublishing.com/gray/B2K3XRLGM5M5XKIZPZ3WBFRTRI.jpg</a>
    </p>
    <p>Not yet safe to swim in Manila Bay: DOH. (2019, February 4). Philippines News Agency. <a
        href="https://link.gale.com/apps/doc/A572549511/GRNR?u=j101912&amp;sid=GRNR&amp;xid=7f06211d">https://link.gale.com/apps/doc/A572549511/GRNR?u=j101912&amp;sid=GRNR&amp;xid=7f06211d</a>
    </p>
    </footer>
  </article>
</div>