<div class="flex two-1000 one center" style="padding-left: 12.5%; padding-right: 12.5%">
    <div style="text-align: left">
        <h3 style="">Flint Michigan Heavy Metal Water Crisis</h3>
        <p>
            Due to the popularity and longevity of lead plumbing, there have been
            several notable (and many more less publicized) instances of lead
            contamination in the 21st century. Of today’s water crisis, the Flint
            Water Crisis is probably the most popular and best documented, due to
            its popularity. The Flint Water Crisis was a 4 year long water crisis,
            during which primarily lead, but also other contaminants such as
            legionnaires disease, were prevalent in the Flint Water System due to
            poor management and not following industry standard water safety
            practices. The direct cause of the Flint Water Crisis was almost
            certainly poverty due to the GM downsizings in the 1980’s (click on
            the graph to the left), leading to a slow and painful economic decline
            in Flint, ending with the state of Michigan taking over Flint’s
            finances and making the decision to switch water sources. Had Flint
            been a prosperous city, the lead service pipes would have either been
            replaced or properly maintained and the city of Flint wouldn’t have
            been placed into the hands of a state appointed emergency manager, who
            lead the city so poorly. To conclude, the Flint Water Crisis was
            almost entirely due to poverty, as without poverty, Flint would not
            have had to switch its water source from the Detroit Water System to
            the Flint River.
        </p>
    </div>
    <div class="third">
        <article class="card noborder">
            <div class="tabs three">
                <input id="tabC-1" type="radio" name="tabGroupC" checked="">
                <input id="tabC-2" type="radio" name="tabGroupC">
                <input id="tabC-3" type="radio" name="tabGroupC">
                <div class="row">
                    <div>
                        <a href="https://www.flickr.com/photos/hz536n/29032559971" target="blank">
                            <img src="https://live.staticflickr.com/8760/29032559971_6662607e05_b.jpg"
                                style="max-width: 150%">
                        </a>
                        <p class="caption">
                            A picture of the Flint Water Plant <br>
                            Thomas, G. (2016). Flint Water Crisis is ongoing Explored!
                            [Photograph]. Flickr.
                            <a target="blank"
                                href="https://live.staticflickr.com/8760/29032559971_6662607e05_b.jpg">https://live.staticflickr.com/8760/29032559971_6662607e05_b.jpg</a>
                        </p>
                    </div>
                    <div>
                        <a href="http://www.cityofflint.com/wp-content/uploads/Reports/MSUE_FlintStudy2011.pdf"
                            target="blank">
                            <img src="flint poverty.png" style="max-width: 150%">
                        </a>
                        <p class="caption">
                            A graph depicting the economic decline of Flint, Michigan
                            <br>
                            Michigan State University. (n.d.). Exhibit I-9 Poverty
                            [Graph]. Long-Term Crisis and Systemic Failure: Taking the
                            Fiscal Stress of America’s Older Cities Seriously, CASE STUDY:
                            City of Flint, Michigan Page 11.
                            <a target="blank"
                                href="http://www.cityofflint.com/wp-content/uploads/Reports/MSUE_FlintStudy2011.pdf">http://www.cityofflint.com/wp-content/uploads/Reports/MSUE_FlintStudy2011.pdf</a>
                        </p>
                    </div>
                    <div>
                        <a href="https://commons.wikimedia.org/wiki/File:Flint_Water_Crisis.jpg" target="blank">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Flint_Water_Crisis.jpg"
                                style="max-width: 150%">
                        </a>
                        <p class="caption">
                            A group of protestors protesting for clean drinking water
                            <br>
                            Wikimedia Commons. (n.d.). Flint Water Crisis [Photograph]. Wikimedia Commons. <a
                                target="blank"
                                href="https://upload.wikimedia.org/wikipedia/commons/e/ea/Flint_Water_Crisis.jpg">https://upload.wikimedia.org/wikipedia/commons/e/ea/Flint_Water_Crisis.jpg</a>
                        </p>
                    </div>
                </div>
                <label for="tabC-1"><img src="https://live.staticflickr.com/8760/29032559971_6662607e05_b.jpg"></label>
                <label for="tabC-2"><img src="flint poverty.png"></label>
                <label for="tabC-3"><img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Flint_Water_Crisis.jpg"></label>
            </div>
            <footer></footer>
        </article>

    </div>
    <div>
        <article class="card noborder">
            <header>
                <h3>Bibiography</h3>
            </header>
            <footer>
                Clay, C., &amp; Troesken, W. (n.d.). America’s First Great Epidemics From Lead in Water Pipes. History
                News Network. <a target="blank"
                    href="https://historynewsnetwork.org/article/161927">https://historynewsnetwork.org/article/161927</a>
                <br><br>
                Troesken, W. (n.d.). Lead Water Pipes and Infant Mortality in Turn-of-the-Century Massachusetts*. <a
                    target="blank"
                    href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.562.3291&amp;rep=rep1&amp;type=pdf">http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.562.3291&amp;rep=rep1&amp;type=pdf</a>
                <br><br>
                Guttman, M. (2020, September). Flint Water Crisis Case Study. Google Docs. <a target="blank"
                    href="https://docs.google.com/document/d/15YKupVHLYOY2EY6rEaI9-IOy8cN7a0AfHgkUNOxo6es">https://docs.google.com/document/d/15YKupVHLYOY2EY6rEaI9-IOy8cN7a0AfHgkUNOxo6es</a>
            </footer>
        </article>
    </div>
</div>