<div class="flex two-1000 one center" style="padding-left: 12.5%; padding-right: 12.5%">
    <div style="text-align: left">
        <h3 style="">A Historical Example of Fecal Contamination</h3>
        <p>
            One prominent historical example of fecal matter contamination was in the first English settlement of North America,
            Jamestown. Waste from the colonists' outhouses seeped into James river, which allowed the waste to penetrate the aquifer
            that they colonists used as their water source Cohen History water supply(Cohen History, 2020). Much of the disease in
            death in the Jamestown colony could be partially attributed to this grossly dangerous contaminant which could have been
            a major factor in the failure of the colony.

        </p>
    </div>
    <div class="third">
        <article class="card noborder">
            <a href="https://allthatsinteresting.com/starving-time"
                target="blank">
                <img src="jamestown-settler-dead-og.jpg"
                    style="max-width: 150%">
            </a>
            <footer>
                <p class="caption">
                    All That's Interesting. (2018). [Jamestown Settler Dead]. Retrieved 2020, from <a
                        href="https://allthatsinteresting.com/starving-time">https://allthatsinteresting.com/starving-time</a>
                    </a>
                </p>
            </footer>
        </article>
    </div>
</div>