<header class="hero" style="  overflow: hidden;" id="home">
  <div class="center">
    <div class="">
      <img class="hero-image" src="https://mozambiqueisthirsty.files.wordpress.com/2013/11/womenwater.jpg" alt="" style="height: 100vh; z-index: -1;">
      <div class="background"></div>
    </div>
    <div class="overlay">
      <div class="header-content">
        <h1 style="font-size:4em;padding-bottom:0%">{{ $.Site.Title }}</h1>
        <p style="font-size:1.5em;" class="slogan">{{ $.Site.Params.Slogan }}</p>
        <p class="links"><a href="{{ $.Site.Params.Twitter }}" target="_blank" class="cdn"><img src="Twitter_Logo_Blue.svg" height="80em"alt=""></a><span>
      </div>
    </div>
  </div>
</header>
