<nav class="demo">
  <a href="#" class="brand">
    <span>{{ $.Site.Title }}</span>
  </a>

  <!-- responsive-->
  <input id="bmenub" type="checkbox" class="show" />
  <label for="bmenub" class="burger pseudo button">menu</label>

  <div class="menu">
    {{ range $.Site.Params.navLinks }}
          <a href="{{ .link }}" class="pseudo button">{{ .name }}</a>
    {{ end }}
  </div>
  <br><br><div class="alert alert-disabled center">This website was created in October of 2020 for an Energy Institute High School Cohort 6 Project. Information on this site was last updated October 2020</div>
</nav>