<div class="flex two-1000 one center" style="padding-left: 12.5%; padding-right: 12.5%" id="scientific">
    <div class="">
        <article class="card noborder">
            <a href="https://ourworldindata.org/sanitation"
                target="blank">
                <img src="https://lh3.googleusercontent.com/wXdCfXXbCc6KGGIzF8cSSHqJw91ZTvu0UFB-waqxQ3yNNpJKZy-mAvdxFY-IKbjqFL6scCZeKo4Kifd7Z4vkaxif4UNM93-ua0JZKdJFiBPps1h_SyAf8nys15GC0d_J48i3nVS-"
                    style="max-width: 90%">
            </a>
            <footer>
                <p class="caption">
                    Our World In Data. (2020). [Access to improved sanitation]. Retrieved 2020, from <a
                        href="https://ourworldindata.org/sanitation">https://ourworldindata.org/sanitation</a>
                    </a>
                </p>
            </footer>
        </article>
    </div>
    <div style="text-align: left">
        <h3 style="">Scientific Figures & Evidence </h3>
        <p>
            The diagram below shows the number of people in the world without proper water sanitation. According to the diagram,
            Sub-saharan African and South Asia Make up 50% of the world's population that does not have access to proper sanitation
            facilities. This causes a shocking increase in preventable diseases and deaths due to the lack of healthcare compounding
            the ingestion of fecal matter. Due to increased fecal matter contamination, certain regions of the world have more
            preventable deaths and diseases.

        <p>
        </p>
    </div>
</div>