html {
  scroll-behavior: smooth;
}
.content {
    padding-top: 80px;
    text-align: center;
  }
.noborder {
    border: none;
}
.center {
    text-align: center;
}
.caption{
    font-size: small;
    color: silver;
}
.w-100{
    width: 100%;
}
  @media only screen and (min-width: 980px) {
    .content {
        padding-left: 15%;
        padding-right: 15%;
    }
  }
  @media only screen and (max-width: 980px) {
    .content {
        padding-left: 12.5%;
        padding-right: 12.5%;
    }
  }
.alert {
    padding: .3em .9em;
    border: 0;
    border-radius: .2em;  
    color: #fff;
    background: #0074d9;
    margin: 15px;
}
.alert-success {
  background: #2ecc40;
}
.alert-warning {
  background: #ff851b
}
.alert-disabled {
  background: #ff4136;
}
.overlay {
  position: absolute;
  top: 200px;
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  text-align: center;
  color:white;
}
.background{
  position: absolute;
  top:0px;
  width: 100%;
  height:100%;
  background: rgb(10, 32, 43);
  opacity: .5;
  z-index: 0;
}
.header-content{
  z-index: 2;
  opacity: 1;
  color: white;
}
.person-image{
  width: 0.125%;
}